$color-blue: darkblue;
$padding: 16px;

.table {
    max-width: 1000px;
  
    .row {
      display: flex;
      align-items: center;
  
      @media (max-width: 800px) {
        flex-direction: column;
      }
  
      &:nth-child(odd) {
        background: rgba($color-blue, 0.5);
      }
  
      &:hover {
        background: rgba($color-blue, 0.8);
      }
  
      &.header {
        background: black;
        color: white;
        font-weight: 600;
        @media (max-width: 800px) {
          display: none;
        }
      }
  
      .cell {
        padding: $padding;
  
        &.picture {
          width: 60px;
  
          img {
            width: 40px;
            height: 40px;
            border-radius: 6px;
            @media (max-width: 800px) {
              width: 120px;
              height: 120px;
            }
          }
        }
  
        &.name {
          flex: 1;
        }
  
        &.age {
          text-align: right;
          width: 70px;
        }
  
        &.gender {
          text-align: center;
          width: 80px;
        }
  
        @media (max-width: 800px) {
          text-align: center !important;
          width: 100% !important;
          padding-top: 6px;
          padding-bottom: 12px;
        }
      }
    }
  }