@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;600&display=swap');

$header-color:black;
$header-color-1000: darkgreen;
$header-text-color: white;
$odd-column-color: grey;
$background-1000: lightgrey;
$hover-color: darkblue;
$cell-bottom-1000: green;
$cell-bottom-800: black;
$padding: 18px;

body {
  margin: 0;
  padding: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.table {
    max-width: 1200px;
  
    .row {
      display: flex;
      align-items: center;

      &:nth-child(odd) {
        background: rgba($odd-column-color, 0.6);
      }

      @media (max-width: 1000px) {
        border-bottom: 2px solid $cell-bottom-1000;
        background: $background-1000;
        &:last-child {
          border-bottom: none;
        }
        &:nth-child(odd) {
          background: rgba($background-1000, 0.4);
        }
      }
  
      @media (max-width: 800px) {
        flex-direction: column;
      }

      &:hover {
        background: rgba($hover-color, 0.2);
      }
  
      &.header {
        background: $header-color;
        color: $header-text-color;
        font-weight: 600;
        @media (max-width: 1000px) {
          background: $header-color-1000;
        }
        @media (max-width: 800px) {
          display: none;
        }
      }
  
      .cell {
        padding: $padding;
  
        &.poza {
          width: 80px;
          img {
            width: 60px;
            height: 60px;
            border-radius: 12px;
            @media (max-width: 800px) {
              width: 100px;
              height: 100px;
              background: $header-text-color;
            }
          }
        }
  
        &.nume {
          width: 100px;
          text-align: left;
        }

        &.functie {
          flex: 1;
          text-align: center;
        }

        &.salariu {
          width: 70px;
          text-align: right;
        }

        &.societate {
          width: 100px;
          text-align: center;
        }

        &.dataAngajare {
          width: 80px;
          text-align: right;
        }
  
        @media (max-width: 800px) {
          text-align: center !important;
          width: 100% !important;
          padding-top: 12px;
          padding-bottom: 10px;
          border-bottom: 2px solid $cell-bottom-800;
        }
      }
    }
  }