@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
  color: 202024;
  font-size: 14px;
}

.container {
  width: 800px;
  border: 1px solid #E2E2E2;
  border-radius: 8px;
}
.container .header {
  padding: 6px 24px;
  display: flex;
  align-items: center;
}
.container .header .image {
  position: relative;
  height: 60px;
}
.container .header .image img {
  height: 60px;
  width: 60px;
  border-radius: 6px;
  margin-right: 16px;
}
.container .header .image:before {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 4px;
  left: 4px;
  background: #0CFF07;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  content: "";
}
.container .header .image:after {
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: 4px;
  left: 4px;
  background: #FF0000;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  content: "";
}
.container .header .person {
  flex: 1 1 auto;
}
.container .header .person h1 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #0065FF;
}
.container .header .person span {
  line-height: 20px;
  margin-right: 12px;
}
.container .header .person span:last-child {
  margin-right: 0;
}
.container .header .price {
  text-align: right;
  display: flex;
  flex-direction: column;
}
.container .header .price h2 {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #786DCF;
}
.container .header .price span {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
.container .header .price strong {
  line-height: 20px;
}
.container .description {
  display: flex;
  background: #E2E2E2;
  padding: 17px 24px;
  align-items: center;
}
.container .description span {
  flex: 1;
  line-height: 20px;
  margin-right: 24px;
}
.container .details {
  display: flex;
  border-bottom: 1px solid #E2E2E2;
}
.container .detailsColumn {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 16px 24px;
  border-right: 1px solid #E2E2E2;
}
.container .detailsColumn:last-child {
  border-right: 0;
}
.container .detailsColumn h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding-bottom: 6px;
}
.container .detailsColumn .detailRow {
  display: flex;
}
.container .detailsColumn span {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
.container .detailsColumn span:first-child {
  flex: 1 1 auto;
}
.container .detailsColumn span.bold {
  font-weight: 600;
  color: #0065FF;
}
.container .detailsColumn strong {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #786DCF;
  margin-bottom: 8px;
}
.container h1 {
  padding: 16px 24px;
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #786DCF;
}
.container .footer {
  display: flex;
  align-items: center;
  background: #E2E2E2;
  border-radius: 0px 0px 8px 8px;
  padding: 16px 24px;
}
.container .footer .logo {
  margin-right: 24px;
}
.container .footer .logo img {
  border-radius: 6px;
  width: 80px;
  height: 80px;
}
.container .footer .company {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.container .footer .company h3 {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.container .footer span {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
.container .footer span strong {
  font-weight: 600;
  color: #DF3859;
}

button {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  margin-right: 6px;
  padding: 6px 16px;
  line-height: 24px;
}
button:last-child {
  margin-right: 0;
}
button.purple {
  background: #786DCF;
  border: 1px solid #786DCF;
  letter-spacing: 0.233333px;
  color: #FFFFFF;
}
button.big {
  border-radius: 6px;
  padding: 8px 32px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

/*# sourceMappingURL=styles.css.map */
