.container {
  background: black;
  height: 500px;
  width: 500px;
  margin: 50px;
  position: relative;
}

.square,
.rectangle {
  position: absolute;
}

.square {
  height: 50px;
  width: 50px;
}

#blueSquare1 {
  background: blue;
  top: 50px;
  left: 70px;
}

#redSquare {
  background: red;
  top: 120px;
  right: 140px;
}

#blueSquare2 {
  background: blue;
  top: 280px;
  right: 80px;
}

#greenSquare {
  background: green;
  bottom: 90px;
  left: 100px;
}

.rectangle {
  background: pink;
}

#pinkVerticalRectangle {
  height: 250px;
  width: 50px;
  top: 100px;
  left: 180px;
}

#purpleVerticalRectangle {
  background: purple;
  height: 100px;
  width: 100%;
  margin-top: 50px;
}

#pinkHorizontalRectangle {
  height: 50px;
  width: 250px;
  bottom: 20px;
  right: 40px;
}

#whiteHorizontalRectangle {
  background: white;
  height: 100%;
  width: 100px;
  margin-left: 100px;
}
