@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

$textColor: #5B5C60;

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 600px;
  height: 474px;
  border: 1px solid #ECECEC;
  border-radius: 8px;

  .header {
    margin: 24px 24px 40px;

    .breadcrumbs {
      font-size: 12px;
      line-height: 150%;
      color: $textColor;
    }
  }
}
